
<!-- <div class="row">
    <div class="col" style="height: calc(100vh - 3.1rem);">
        <app-tv-chart-container></app-tv-chart-container>
    </div>
</div> -->
<div class="row flex-column flex-nowrap" style="height: 100vh;">
    <!-- <div class="col-auto">
        <div class="row">
            <div class="col">
                <button mat-flat-button class="my-2" matTooltip="Go Back.">
                    <mat-icon>arrow_back</mat-icon>
                </button>
            </div>
        </div>
    </div> -->
    <div class="col g-0 h-100">
        <app-tv-chart-container></app-tv-chart-container>
    </div>
</div>