<div class="row flex-column flex-nowrap h-100">
  <!-- Top Navigation Header -->
  <div class="col-auto bg-0 py-2 w-100" style="position: fixed">
    <div class="row">
      <div class="col-auto">
        <button mat-mini-fab color="primary" (click)="openDialog(raidDialog)">
          <mat-icon>add</mat-icon>
        </button>
      </div>
      <div class="col-auto d-flex align-items-center" (click)="openDialog(statusDebugDialog)">
        <div *ngIf="socketioService.connected" matTooltip="online" style="padding: 4px;
        margin: 8px;
        border-radius: 100%;
        background: rgb(7 227 54 / 80%);
        box-shadow: rgb(7 227 65 / 50%) 0px 0px 10px 2px inset, rgb(21 227 7 / 80%) 0px 0px 10px 2px;"></div>
        <div *ngIf="!socketioService.connected" matTooltip="offline" style="padding: 4px;
        margin: 8px;
        border-radius: 100%;
        background: rgb(227 7 7 / 80%);
        box-shadow: rgb(227 7 7 / 50%) 0px 0px 10px 2px inset, rgb(227 7 7 / 80%) 0px 0px 10px 2px;"></div>
      </div>
      <!-- <div class="col-auto">
        <button mat-mini-fab color="primary">
          <mat-icon>insights</mat-icon>
        </button>
      </div> -->
      <div class="col"></div>
      <div class="col-auto">
        <a href="https://github.com/NthMetal/gbraidfinder/issues" target="_blank">
          <button style="position: relative" mat-icon-button color="primary" matTooltip="Report Bugs Here!">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="28" height="28">
              <path fill="white" d="M12 2A10 10 0 0 0 2 12c0 4.42 2.87 8.17 6.84 9.5.5.08.66-.23.66-.5v-1.69c-2.77.6-3.36-1.34-3.36-1.34-.46-1.16-1.11-1.47-1.11-1.47-.91-.62.07-.6.07-.6 1 .07 1.53 1.03 1.53 1.03.87 1.52 2.34 1.07 2.91.83.09-.65.35-1.09.63-1.34-2.22-.25-4.55-1.11-4.55-4.92 0-1.11.38-2 1.03-2.71-.1-.25-.45-1.29.1-2.64 0 0 .84-.27 2.75 1.02.79-.22 1.65-.33 2.5-.33.85 0 1.71.11 2.5.33 1.91-1.29 2.75-1.02 2.75-1.02.55 1.35.2 2.39.1 2.64.65.71 1.03 1.6 1.03 2.71 0 3.82-2.34 4.66-4.57 4.91.36.31.69.92.69 1.85V21c0 .27.16.59.67.5C19.14 20.16 22 16.42 22 12A10 10 0 0 0 12 2z"></path>
            </svg>
          </button>
        </a>
      </div>
      <div class="col-auto">
        <button mat-mini-fab color="primary" (click)="openDialog(settingsDialog)">
          <mat-icon>settings</mat-icon>
        </button>
      </div>
    </div>
  </div>
  <!-- Container that has raid columns -->
  <div class="col mt-5 pt-2">
    <div class="row align-items-center flex-nowrap" dragula="DRAGABLE_COLUMNS" [(dragulaModel)]="subscribedRaids">
        <div class="gx-0 col-2 bg-2 m-3" style="overflow: hidden; height: calc(100vh - 5.5rem); min-width: 20rem; border-radius: 0.5rem; box-shadow: 1px 2px 8px #101010;" *ngFor="let raid_data of subscribedRaids">
            <div class="p-2 row align-items-center dragula-handle" handle>
              <div class="col-auto dragula-handle" handle>
                <button mat-icon-button color="primary" (click)="unsubscribeRaid(raid_data.quest_id)">
                  <mat-icon>close</mat-icon>
                </button>
              </div>
              <div class="col dragula-handle" handle>{{raid_data.quest_name_en}}</div>
              <div class="col-auto dragula-handle" handle>
                <button mat-icon-button color="primary" [matMenuTriggerFor]="columnMenu">
                  <mat-icon>more_vert</mat-icon>
                </button>
                <mat-menu #columnMenu="matMenu">
                  <button mat-menu-item (click)="moveQuestLeft(raid_data)"><mat-icon>keyboard_arrow_left</mat-icon>Move Left</button>
                  <button mat-menu-item (click)="moveQuestRight(raid_data)"><mat-icon>keyboard_arrow_right</mat-icon>Move Right</button>
                  <button mat-menu-item (click)="clearAllRaidsInQuest(raid_data)"><mat-icon>clear_all</mat-icon>Clear</button>
                  <button mat-menu-item (click)="toggleQuestNotifications(raid_data)">
                    <mat-icon *ngIf="settingsService.settings.questNotificationSettings[raid_data.quest_id] && settingsService.settings.questNotificationSettings[raid_data.quest_id].enabled">notifications_active</mat-icon>
                    <mat-icon *ngIf="!settingsService.settings.questNotificationSettings[raid_data.quest_id] || !settingsService.settings.questNotificationSettings[raid_data.quest_id].enabled">notifications_off</mat-icon>
                    <!-- {{raid_data.notifications ? 'Disable' : 'Enable'}} -->
                    Notifications
                  </button>
                  <button mat-menu-item (click)="toggleQuestSound(raid_data)">
                    <mat-icon *ngIf="settingsService.settings.questSoundSettings[raid_data.quest_id] && settingsService.settings.questSoundSettings[raid_data.quest_id].enabled">music_note</mat-icon>
                    <mat-icon *ngIf="!settingsService.settings.questSoundSettings[raid_data.quest_id] || !settingsService.settings.questSoundSettings[raid_data.quest_id].enabled">music_off</mat-icon>
                    <!-- {{raid_data.sound ? 'Disable' : 'Enable'}} -->
                    Sound
                  </button>
                </mat-menu>
              </div>
            </div>
            <mat-divider class="mb-1"></mat-divider>
            <div class="px-2" style="overflow-y: scroll; height: calc(100% - 3.5rem);">
              <!-- Each Raid Card was put in an ng template for a feature in the future -->
              <ng-container *ngFor="let raid of raids[raid_data.quest_id]">
                <ng-container *ngTemplateOutlet="raidCard; context: {$implicit: raid}"></ng-container>
              </ng-container>
            </div>
        </div>
    </div>

  </div>
</div>

<ng-template #raidCard let-raid>
  <mat-card class="mt-2 py-1 raid-card" [ngClass]="{'raid-card-selected': raid.selected }" (click)="selectRaid(raid)">
      <!-- { 
        "twitterUser": { 
          "name": "FREQ",
          "imgUrl": "a",   1046707735033565184/g_oRfx2P_normal.jpg
          "username": "Sm0325Freq",
          "verified": false
        },
        "locale": "JP",
        "message": "",
        "battleKey": "CAC6DF94",
        "quest_id": "301061" 
      } -->
          <!-- <mat-icon *ngIf="raid.twitterUser.verified">verified</mat-icon> -->
      <!-- <div style="position: absolute; background: rgba(85, 15, 15, 0.411); height: 100%; width: 100%; top: 0; left: 0;"
          [ngStyle]="{ 'width': raid.update?.hp ? raid.update?.hp + '%' : '0%' }"></div> -->
      <div class="row align-items-center g-2">
        <!-- <div class="col-auto" [matTooltip]="raid.twitterUser.name">
          <img height="25px" [src]="raid.twitterUser.imgUrl === 'a' ? 'https://abs.twimg.com/sticky/default_profile_images/default_profile_normal.png' : 'https://pbs.twimg.com/profile_images/' + raid.twitterUser.imgUrl "/>
        </div> -->
        <div class="col">
          <mat-text style="font-size: 1.15rem">{{raid.battleKey}}</mat-text>
        </div>
        <div class="col-auto">
          <mat-text style="font-size: 0.8rem">{{raid.created_at | timeago}}</mat-text>
        </div>
        <div class="col-auto">
          <mat-icon>{{raid.update && !settingsService.settings.copyOnly ? 'exit_to_app' : 'content_copy'}}</mat-icon>
        </div>
      </div>
      <div class="row">
        <div class="col">
          {{raid.message}}
        </div>
      </div>
      <div class="row mt-2 align-items-end" *ngIf="raid.update">
        <div class="col">
          <mat-progress-bar mode="determinate" color="warn" [value]="raid.update.hp"></mat-progress-bar>
        </div>
      </div>
      <!-- <div class="col-auto" style="line-height: 0.1rem;"> {{raid.update?.hp}}% </div> -->
      <div class="row mt-2 flex-nowrap gx-2" *ngIf="raid.update">
        <div class="col d-flex align-items-center">{{raid.update?.hp}}% </div>
        <div class="col d-flex align-items-center">{{raid.update?.players}} </div>
        <div class="col d-flex align-items-center">{{raid.update?.timeLeft}} </div>
        <div class="col-auto d-flex align-items-center">
          <img height="20px" [src]="'assets/icons/' + (raid.update.questHostClass || 'noclass') + '.png'"/>
        </div>
      </div>
  </mat-card>
</ng-template>

<ng-template #statusDebugDialog>
  <mat-dialog>
    <div title>Status Debug</div>
    <mat-divider class="my-3"></mat-divider>
    <div class="row">
      <div class="col">
        Last Status Recieved: {{ lastStatusRecievedAt | timeago }}
      </div>
    </div>
    <mat-divider class="my-3"></mat-divider>
    <div class="row flex-column">
      <div class="col">
        Users Connected: {{ status.socketStatus.usersConnected }}
      </div>
      <div class="col">
        Last Tweet Recieved: {{ status.raidStatus.tweetStatus.lastTweetRecievedAt ? (status.raidStatus.tweetStatus.lastTweetRecievedAt | timeago) : 'None' }}
      </div>
      <div class="col">
        Last Tweet Source Recieved: {{ status.raidStatus.tweetStatus.lastTweetSourceRecievedAt ? (status.raidStatus.tweetStatus.lastTweetSourceRecievedAt | timeago) : 'None' }}
      </div>
    </div>
    <mat-divider class="my-3"></mat-divider>
    <div class="row flex-column">
      <div class="col" *ngFor="let gbrStatus of status.raidStatus.gbrStatus; let i=index">
        GBR {{i}}: {{ gbrStatus ? (gbrStatus | timeago) : 'None' }}
      </div>
    </div>
    <mat-divider class="my-3"></mat-divider>
  </mat-dialog>
</ng-template>

<ng-template #raidDialog>
  <mat-dialog height="large">
    <div title>Add Raid</div>
    <!-- <div class="row my-2">
      <div class="col">
        <mat-button-toggle-group appearance="legacy" multiple name="element" class="w-100">
          <mat-button-toggle class="w-100" *ngFor="let element of elements" [value]="element">
            <img [src]="'assets/icons/' + element + '.png'"/>
          </mat-button-toggle>
        </mat-button-toggle-group>
      </div>
    </div> -->
    <div class="row mt-3">
      <div class="col">
        <mat-form-field class="w-100" appearance="outline">
          <mat-label>Search Raids</mat-label>
          <input matInput placeholder="ex: Shiva (Impossible) or シヴァＨＬ or Fire" [(ngModel)]="raidSearch" (ngModelChange)="raidSearchSubject.next($event)">
          <mat-icon class="mr-2" matPrefix>search&nbsp;</mat-icon>
        </mat-form-field>
        <!-- <mat-form-field class="w-100" appearance="outline">
          <mat-chip-list #chipList>
            <mat-chip style="display: none;">ayy lmao</mat-chip>
            <img class="raid-card mx-1 mb-1" *ngFor="let subbedRaid of subscribedRaids" (click)="remove(subbedRaid)" height="45px" [src]="'assets/thumb/' + subbedRaid.quest_id + '.png'"/>
            <input
              placeholder="Search Raids"
              #searchInput
              [formControl]="subbedQuestsCtrl"
              [matAutocomplete]="auto"
              [matChipInputFor]="chipList"
              [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
              matChipInputAddOnBlur
              (matChipInputTokenEnd)="add($event)">
          </mat-chip-list>
          <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
            <mat-option *ngFor="let raid of filteredQuests | async" [value]="raid">
              <div class="d-flex align-items-center">
                <img height="45px" [src]="'assets/thumb/' + raid.quest_id + '.png'"/>&nbsp;{{raid.quest_name_en}}
              </div>
            </mat-option>
          </mat-autocomplete>
        </mat-form-field> -->
      </div>
    </div>
    <mat-divider></mat-divider>

    <div class="row my-2">
      <div class="col">
        <mat-button-toggle-group appearance="legacy" name="type" #typeGroup="matButtonToggleGroup" class="w-100" value="2">
          <mat-button-toggle class="w-100" value="1">Standard</mat-button-toggle>
          <mat-button-toggle class="w-100" value="2">Impossible</mat-button-toggle>
        </mat-button-toggle-group>
      </div>
    </div>
    <!-- <div class="row my-2">
      <mat-card class="col-2 h-100" *ngFor="let raid of raid_metadata" [ngStyle]="{'background-image': 'url(/assets/thumb/' + raid.quest_id + '.png)', 'background-size': 'cover'}">
        {{raid.quest_name_en}}
      </mat-card>
    </div> --> 
    <div class="row" style="height: calc(100vh - 20rem); overflow-y: auto;" *ngIf="typeGroup.value === '1'">
      <div class="col">
        <div class="row my-3 w-100" *ngFor="let difficulty of standardDifficulties">
          <div class="raid-card col-auto my-1 mx-2" [matTooltip]="raid.quest_name_en" [ngClass]="{'raid-selected': raid.selected}" *ngFor="let raid of raidSearchFiltered.standard[difficulty]"
            [ngStyle]="{'background-image': 'url(/assets/thumb/' + raid.quest_id + '.png)', 'background-size': 'cover', 'height': '63px', 'width': '90px', 'position': 'relative'}"
            (click)="toggleRaid(raid.quest_id)">
            <!-- <img [src]="'assets/thumb/' + raid.quest_id + '.png'" (click)="toggleRaid(raid.quest_id)"/> -->
            <!-- {{raid.quest_name_en}} -->
          </div>
        </div>
      </div>
    </div>
    <div class="row" style="height: calc(100vh - 20rem); overflow-y: auto;" *ngIf="typeGroup.value === '2'">
      <div class="col">
        <div class="row my-3 w-100" *ngFor="let difficulty of impossibleDifficulties">
          <div class="raid-card col-auto my-1 mx-2" [matTooltip]="raid.quest_name_en" [ngClass]="{'raid-selected': raid.selected}" *ngFor="let raid of raidSearchFiltered.impossible[difficulty]"
            [ngStyle]="{'background-image': 'url(/assets/thumb/' + raid.quest_id + '.png)', 'background-size': 'cover', 'height': '63px', 'width': '90px', 'position': 'relative'}"
            (click)="toggleRaid(raid.quest_id)">
            <!-- <img [src]="'assets/thumb/' + raid.quest_id + '.png'" (click)="toggleRaid(raid.quest_id)"/> -->
            <!-- {{raid.quest_name_en}} -->
          </div>
        </div>
      </div>
    </div>
  </mat-dialog>
</ng-template>

<ng-template #settingsDialog>
  <mat-dialog>
    <div title>Settings</div>
    <form #settingsForm="ngForm" novalidate>
      <mat-tab-group>

        <mat-tab>
          <ng-template mat-tab-label> <mat-icon class="example-tab-icon">casino</mat-icon> Misc </ng-template>
          <div class="mt-2" style="height: 20rem; width: calc(100% - 0.8rem);">
            <div class="row mt-2 flex-row-vertical">
              <div class="col">
                <h4 class="mt-4 mb-2 mx-0">Raid Settings</h4>
                <mat-radio-group class="row" [(ngModel)]="settingsService.settings.copyOnly" name="copyOnly">
                  <div class="col mt-2 d-flex align-items-center">
                    <mat-radio-button class="mr-2" [value]="false">
                      Take me to the summon page&nbsp;&nbsp;
                    </mat-radio-button>
                    <mat-icon>exit_to_app</mat-icon>
                  </div>
                  <div class="col mt-2 d-flex align-items-center">
                    <mat-radio-button class="mr-2" [value]="true">
                      Just copy the battle key&nbsp;&nbsp;
                    </mat-radio-button>
                    <mat-icon>content_copy</mat-icon>
                  </div>
                </mat-radio-group>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <h4 class="mt-4 mb-2 mx-0">Tab Settings</h4>
                <mat-radio-group class="row" [(ngModel)]="settingsService.settings.openInTab" name="openInTab" [disabled]="settingsService.settings.copyOnly">
                  <mat-radio-button class="col mt-2" value="_blank">Always open in a new tab</mat-radio-button>
                  <mat-radio-button class="col mt-2" value="gbfTAB" [matTooltip]="'Warning: using this option is sus because it sends the current website url to gbf'">Open in an existing tab</mat-radio-button>
                </mat-radio-group>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <h4 class="mt-4 mb-2 mx-0">Duplicate Tweets</h4>
                <mat-radio-group class="row" [(ngModel)]="settingsService.settings.removeDuplicates" name="removeDuplicates" disabled>
                  <mat-radio-button class="col mt-2" [value]="true">Filter</mat-radio-button>
                  <mat-radio-button class="col mt-2" [value]="false">Show</mat-radio-button>
                </mat-radio-group>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <h4 class="mt-4 mb-2 mx-0">Filter by HP</h4>
                <div class="row">
                  <div class="col">
                    <mat-label>Min HP</mat-label>
                    <p style="text-align: center;">{{settingsService.settings.minHP}}%</p>
                    <mat-slider thumbLabel min="0" max="100" step="1" value="0" [(ngModel)]="settingsService.settings.minHP" name="minHP" style="width: 100%"></mat-slider>
                  </div>
                  <div class="col">
                    <mat-label>Max HP</mat-label>
                    <p style="text-align: center;">{{settingsService.settings.maxHP}}%</p>
                    <mat-slider thumbLabel min="1" max="100" step="1" value="100" [(ngModel)]="settingsService.settings.maxHP" name="maxHP" style="width: 100%"></mat-slider>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <h4 class="mt-4 mb-2 mx-0">Remove Raids after</h4>
                <mat-form-field appearance="fill">
                  <input matInput type="number" [(ngModel)]="settingsService.settings.removeRaidsAfterSeconds" name="removeRaidsAfterSeconds">
                  <div matSuffix>Seconds</div>
                </mat-form-field>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <h4 class="mt-4 mb-2 mx-0">Filter by Max Players.</h4>
                <mat-label>Maximum Players</mat-label>
                <p style="text-align: center;">{{settingsService.settings.maxPlayers}}</p>
                <mat-slider thumbLabel min="0" max="30" step="1" value="0" tickInterval="1" [(ngModel)]="settingsService.settings.maxPlayers" name="maxPlayers" style="width: 100%"></mat-slider>
              </div>
              <div class="col">
                <h4 class="mt-4 mb-2 mx-0">Filter by Min players.</h4>
                <mat-label>Minimum Players</mat-label>
                <p style="text-align: center;">{{settingsService.settings.minPlayers}}</p>
                <mat-slider thumbLabel min="0" max="30" step="1" value="0" tickInterval="1" [(ngModel)]="settingsService.settings.minPlayers" name="minPlayers" style="width: 100%"></mat-slider>
              </div>
            </div>
            <div class="row flex-row-vertical">
              <div class="col">
                <h4 class="mt-4 mb-2 mx-0">Theme</h4>
                <mat-radio-group class="row" [(ngModel)]="settingsService.settings.theme" name="theme" disabled>
                  <mat-radio-button class="col mt-2" value="dark">Dark</mat-radio-button>
                  <mat-radio-button class="col mt-2" value="light">Light</mat-radio-button>
                </mat-radio-group>
              </div>
            </div>

          </div>
          <!-- Theme
          Language
          column width
          copy settings, copy paste only, go to raid when available
          disable enhanced info
          filter duplicate tweets
          filter by hp
          filter by people in raid
        -->
        </mat-tab>

        <mat-tab>
          <ng-template mat-tab-label> <mat-icon>notifications</mat-icon> Notification </ng-template>
          <!-- Disable all desktop notifications
          Disable all sound notifications
          Sound volume?
          hp threshold -->
          <div class="mt-2" style="height: 20rem; width: calc(100% - 0.8rem);">
            <div class="row mt-2">
              <div class="col">
                <h4 class="mt-4 mb-2 mx-0">All Sounds</h4>
                <mat-radio-group class="row" [(ngModel)]="settingsService.settings.soundEnabled" name="soundEnabled">
                  <mat-radio-button class="col mt-2" [value]="true">Enabled</mat-radio-button>
                  <mat-radio-button class="col mt-2" [value]="false">Disabled</mat-radio-button>
                </mat-radio-group>
              </div>
            </div>
            <div class="row mt-2">
              <div class="col">
                <h4 class="mt-4 mb-2 mx-0">All Notifications</h4>
                <mat-radio-group class="row" [(ngModel)]="settingsService.settings.notificationsEnabled" name="notificationsEnabled">
                  <mat-radio-button class="col mt-2" [value]="true">Enabled</mat-radio-button>
                  <mat-radio-button class="col mt-2" [value]="false">Disabled</mat-radio-button>
                </mat-radio-group>
              </div>
            </div>
          </div>
        </mat-tab>
        
        <mat-tab>
          <ng-template mat-tab-label> <mat-icon class="example-tab-icon">help</mat-icon> Help </ng-template>
          <div class="mt-2" style="height: 20rem; width: calc(100% - 0.8rem);">
            <div class="row mt-2">
              <div class="col">
                Choose the raid you want by clicking the button on the top left
              </div>
            </div>
            <div class="row mt-2">
              <div class="col">
                Extra raid info such as hp, players, etc. may not be available all the time
              </div>
            </div>
            <div class="row mt-2">
              <div class="col">
                Site may go down unexpectedly.
              </div>
            </div>
          </div>
        </mat-tab>
        
        <mat-tab>
          <ng-template mat-tab-label> <mat-icon class="example-tab-icon">info</mat-icon> About </ng-template>
          <div class="mt-2" style="height: 20rem; width: calc(100% - 0.8rem);">
            <div class="row">
              <div class="col">
                For any questions or concerns feel free to ping me on discord: NthMetal#5000
              </div>
            </div>
            <div class="row">
              <div class="col">
                 <a style="color: lightblue" target="_blank" href="https://github.com/NthMetal/gbraidfinder">Github Repo Here</a><br/>
                 <a style="color: lightblue" target="_blank" href="https://github.com/NthMetal/gbraidfinder/issues">Report Issues Here!</a>
              </div>
            </div>
            <div class="row">
              <div class="col">
                 Note: Updated raids to show up faster. Time since tweeted may not be accurate, but it should be faster than before.
              </div>
            </div>
          </div>
        </mat-tab>
      </mat-tab-group>
    </form>
  </mat-dialog>
</ng-template>